.boxdisplay {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  width: 300px;
  height: 300px;
  margin: 20px auto;
}
header{

    text-align: center;
}

.boxdisplay div {
  border: 0.5px solid black;
}

.box1, .box2, .box3 {
  border-top: none;
}

.box1, .box4, .box7 {
  border-left: none;
}

.box3, .box6, .box9 {
  border-right: none;
}

.box7, .box8, .box9 {
  border-bottom: none;
}
