.boxdisplay {
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 150px;
    grid-template-rows: repeat(3, 100px);
    width: 50%;
    margin: 0px auto;
}

.tower {
  grid-row: 1 / 4;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-tower {
  grid-column: 1;
}

.right-tower {
  grid-column: 5;
}

header {
  text-align: center;
}

.boxdisplay div {
  border: 0.5px solid black;
}

.box1, .box2, .box3 {
  border-top: none;
}

.box1, .box4, .box7 {
  border-left: none;
}

.box3, .box6, .box9 {
  border-right: none;
}

.box7, .box8, .box9 {
  border-bottom: none;
}

.flexboxplayers {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.flexboxplayers form {
  display: flex;
  gap: 100px;
}

.player {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
}

.flexbuttons {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}
body {

  color: rgb(239, 239, 239);
  background-color: rgb(60, 57, 57);
}
#nextRoundBtn {
  background-color: #2196F3;
  color: white;
  padding: 2px;
}#nextRoundBtn:hover {
  background-color: #1e88e5;
  transform: scale(1.05);
}#startBtn {
  background-color: #00ff5e;
  color: white;}

  #restartBtn:hover {
  background-color: #ffffff;
  transform: scale(1.05); }

   #restartBtn {
  background-color: #ff0000;
  transform: scale(1.05); }

  .message {

margin: 10px auto;
border-radius: rgb(250, 243, 243);
border-width: thin;
border-style: solid;
padding: 10px;
color: #ffffff;
text-align: center;
width: 150px;

  }